<article class="container">
    <div class="main_line row">
        <header>
            <span class="header"><span class="header_part">Github API Test.</span > Enter Git user and repo names to get a list of issues.</span>
        </header>
        <section class="left col-md-3"></section>
        <section class="right col-md-9">
            <div class="pagination_number_row"></div>
            <div class="paging_view"></div>
            <div class="issues_table_header"></div>
            <div class="issues_rows"></div>
        </section>
    </div>
</article>